<app-toolbar></app-toolbar>
<div class="content container" role="main">
  <div class="row align-items-start">
    <div class="col">
      <button type="button" class="btn btn-primary"
        routerLink="/parent-to-child">
        Parent to Child
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-warning"
        routerLink="/child-to-parent">Child to
        Parent
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger"
        routerLink="/parent-to-child">
        Subject
      </button>
    </div>
  </div>

  <img src="../assets/svg/cloud.svg" alt="Cloud" id="clouds">
</div>

<router-outlet></router-outlet>
