<div class="card parent">
  <div class="card-body">
    <h5 class="card-title"><strong>Parent</strong></h5>
    <p class="card-text">This is Parent component</p>
    <span>Messages :</span>
    <br>
    <span>
      {{receivedMessages}}
    </span><br><br>
      <span>Receive Array of Objects:</span>
      <br>
      <div>
        <li *ngFor="let f of receivedArrayOfObject;">
          <span><strong>{{f.name}}</strong></span>
        </li>
      </div>
  </div>
  <br>
</div>
<br>
<app-children
  (sendMessages)="receiveMessagesHandler($event)"
  (sendArrayOfObject)="receiveArrayOfObjectHandler($event)">
</app-children>
