.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    background-color: #f53809;
    color: rgb(233, 233, 233);
    border-radius: 20px;
  }
}
